/* countdown */
#countdown {
  height: 200px;
  width: 700px;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 33%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-style: solid;
  background: rgba(227,24,54);
  background: radial-gradient(ellipse at center,
    rgba(255, 184, 28) 0%, black 70%);
  background-size: 100%;
  color: rgba(255, 184, 28);
  right: 0;
}

/* button layout */
#start {
  grid-area: 3 / 2 / 3 / 2;
}

.button {
	color: rgb(255, 255, 255) !important;
	text-transform: uppercase;
	text-decoration: none;
	background: rgba(227,24,54);
	padding: 20px;
	border-radius: 25px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
  font-size: 20px;
}

.button:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(255, 184, 28);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

#stop {
  grid-area: 3 / 4 / 3 / 4;
}

/* labels layout */
#minutes-label {
  grid-area: 1 / 2 / 1 / 2;
}

#seconds-label {
  grid-area: 1 / 4 / 1 / 4;
}

/* countdown input */
#seconds {
  grid-area: 2 / 4 / 2 / 4;
}

#colon {
  grid-area: 2 / 3 / 2 / 3;
  justify-self: center;
  align-self: center;
  font-size: 45px;
  margin: 0;
  color:rgba(0,0,0,0.57)
}

#minutes {
  grid-area: 2 / 2 / 2 / 2;
}

.label {
  margin: 0;
  justify-self: center;
  align-self: center;
  font-size: 35px;
}

.time {
  justify-self: center;
  align-self: center;
  border: none;
  font-size: 45px;
  width: 70px;
  height: 50px;
  background: #000000;
  color: rgba(255, 184, 28);
}















/* random word */
#word {
  text-align: center;
  height: auto;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  clear: left;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#word p {
  grid-area: 1 / 1 / 1 / 1;
  justify-self: center;
  align-self: center;
  font-size: 75px;
  margin: 0px;
  color: rgba(255, 184, 28);
  text-shadow: 0 0 20px rgba(227,24,54);
  font-weight: bolder;
  font-family: sans-serif;
}

.word {
  grid-area: 2 / 1 / 2 / 1;
  justify-self: center;
  align-self: center;
  font-size: 20px;
  top: 0;
}

.word {
	color: rgb(255, 255, 255) !important;
	text-transform: uppercase;
	text-decoration: none;
	background: rgba(227,24,54);
	padding: 20px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.word:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(255, 184, 28);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	transition: all 0.4s ease 0s;
}























/* instrumental */
#instrumental {
  height: 25vh;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 18%;
  margin-left: 40%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: auto;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
  color: rgba(255, 184, 28)
}

.track-name {
  width: 300px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.producer {
  font-size: 2rem;
}

#instrumental .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(227,24,54);
}

.playpause-track,
.prev-track,
.next-track,
.random-track {
  padding: 25px;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover,
.random-track:hover {
  opacity: 1.0;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 184, 28);
  font-weight: bold;
}




/* recorder */
#recorder {
  top: 0;
  position: absolute;
}

#startRecord, #stopRecord {
	color: rgb(255, 255, 255) !important;
	text-transform: uppercase;
	text-decoration: none;
	background: rgba(227,24,54);
	padding: 20px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

#startRecord, #stopRecord {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(255, 184, 28);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

#recorder-directions {
  font-size: 30px;
  color: rgba(255, 184, 28);
}

/* media */
#media {
  position: absolute;
  top: 0;
  right: 0;
}

#github,
#linkedin {
  padding: 0;
  opacity: 0.7;
  transition: opacity 0.2s;
}

#github:hover,
#linkedin:hover {
  opacity: 1.0;
}

/* directions */
#directions {
  position: absolute;
  bottom: 40%;
  color: black;
  font-family: sans-serif;
  font-size: 25px;
  text-shadow: 0 0 20px rgba(255, 184, 28);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
}

#directionsLabel {
  margin-bottom: 0;
}

#directionsList {
  margin-top: 0;
}

/* features */
#features {
  display: flex;
  position: absolute;
  right: 0;
  flex-direction: column;
}